@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Share Tech Mono", monospace;
}
